<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    
    <div id="app">
    <!-- 4) scoped slot -->
        <scopedslot-component>
            <!-- 자식의 지정된 속성의 값을 부모로 가져와서 사용할수 있다. -->
            <template slot-scope = '{num}'> <!-- {num} : 템플렛의 [1,2,3]을 들고옴-->
                <p>{{num}}</p>
                <p v-for="n in num">{{n}}</p> <!-- num의 [1,2,3]값이 하나씩 출력됨-->
            </template>
        </scopedslot-component>

    <!-- 4-1) scoped slot 실습-->
        <show-picture>
            <template slot-scope = '{catsname}'>
                <p v-for="item in catsname">{{item}}</p>
            </template>
        </show-picture>
    </div>

    <script>
    //4) scoped slot
        Vue.component('scopedslot-component',{
            template :
            `<div>
                <h3> scoped 슬롯 사용</h3>
                <!--slot의 num이라는 속성에 컴포넌트의 number의 [1,2,3] 값을 전달해줌-->
                <slot v-bind:num="number"></slot> 
            </div>`,
            data : function() {
                return {
                    number : [1,2,3]
                }
            }
        })

    //4-1) scoped slot 실습
        Vue.component('show-picture', {
            template:
            `<div>
                <slot v-bind:catsname="catNames2"></slot>
            </div>`,
            data : function() {
                return {
                    catNames2 :['랙돌','코리안숏','러시안블루']
                }
            }
        })

        new Vue({
            el : "#app",
        })
    </script>
    
</body>
</html>